@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

.container {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    padding: 0 10px;
  }
}
