<main class="container">
  <section>
    <app-steps [steps]="steps" [currentStep]="currentStep"></app-steps>
  </section>
  <section>
    <div class="content">
      <app-info *ngIf="currentStep === 1" (formUpdate)="onInfoUpdate($event)" [data]="formData.info"></app-info>
      <app-plan *ngIf="currentStep === 2" (formUpdate)="onPlansUpdate($event)" [data]="formData.plans"></app-plan>
      <app-addons *ngIf="currentStep === 3" (formUpdate)="onAddonsUpdate($event)" [data]="formData.addons"
        [billingCycle]="formData.plans.billingCycle"></app-addons>
      <app-summary *ngIf="currentStep === 4 && !done" [data]="formData" (goToPlanStep)="goToPlanStep()"></app-summary>
      <app-thanks *ngIf="done"></app-thanks>
    </div>
    <div *ngIf="!done" class="action-btns">
      <button *ngIf="currentStep !== 1" (click)="onPrevStep()" class="secondary-btn">Go Back</button>
      <button (click)="onNextStep()" class="primary-btn" [attr.data-confirm]="currentStep === 4">{{currentStep === 4 ?
        'Confirm' : 'Next Step'}}</button>
    </div>
  </section>
</main>