<h1>Select your plan</h1>
<h3 class="h3-shared">You have the option of monthly or yearly billing.</h3>
<ul role="listbox">
    <li role="option" *ngFor="let plan of data.list; let i = index">
        <button (click)="onPlanSelect(plan)" [ngClass]="{'selected':data.selectedPlan?.id === plan.id}">
            <img [src]="plan.img">
            <div>
                <p>{{plan.title}}</p>
                <span>${{plan.amount[data.billingCycle]}}/{{data.billingCycle === 'monthly' ? 'mo' : 'yr'}}</span>
                <span *ngIf="data.billingCycle === 'yearly'">{{plan.extra}}</span>
            </div>
        </button>
    </li>
</ul>

<div (click)="onBillingCycle()" class="toggle-switch">
    <p [ngClass]="{'active': data.billingCycle === 'monthly'}">Monthly</p>
    <div class="pill">
        <input type="checkbox" class="checkbox" [checked]="data.billingCycle === 'yearly'" />
        <div class="knob"></div>
        <div class="btn-bg"></div>
    </div>
    <p [ngClass]="{'active': data.billingCycle === 'yearly'}">Yearly</p>
</div>