@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  src: url("/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  src: url("/fonts/Ubuntu-Bold.ttf") format("truetype");
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

.font-regular {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
